*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh; 
    background-color:#141414;
}

main{
    border: solid;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 250px;
    background-color: #1F1F1F;
    border-radius: 10px;
}



section{
    padding: 20px;
}


.principal{
   
    display: flex;
    justify-content: center;
    align-items: center;

}


.img-principal{
    width:40px;
    border-radius: 100%;
 }
 

.secundaria{
    text-align: center;
}

.text-white{
    color: #fff;
    margin-bottom: 10px;
}

.text-green{
    color: #C4F82A;
}

p{
    font-size: small;
}


.tercero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-vertical {
	list-style: none;
	background-color: #1E1F23;
	display: inline-block;
}
.ul-vertical li {
	background-color: #333333;
	width: 150px;
	height: 30px;
	margin: 0;
	padding: 0;
	border: 1px solid #333333;
    border-radius: 5%;
    text-align: center;
    color: #fff;
    font-size: small;
}
.ul-vertical li+li {
	margin-top: 8px;
}