*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100vh; 
    background-color:hsl(0, 0%, 8%);
    font-size: 14px;
    font-family: "Inter",sans-serif;
}

main{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 330px;
    height: 500px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 30px;
}

.img-principal{
    border-radius: 50%;
    width: 115px;
    height: 115px;
    margin-bottom: 10px;
 }

.principal{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


.secundaria{
    text-align: center;
}

.text-1{
    color: hsl(0, 0%, 100%);
    padding-bottom: 4px;
}

.text-2{
    color:hsl(75, 94%, 57%);
    padding-bottom: 15px;
    font-weight: 600;
}

.text-3{
    color: hsl(0, 0%, 100%);
    padding-bottom: 20px;
}


.tercero{
    display: flex;
    justify-content: center;
}

.ul-vertical {
	list-style: none;
	
}
.ul-vertical li {
    background-color: hsl(0, 0%, 20%);
	width: 270px;
	height: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 6px;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

  li:hover {
    background: hsl(75, 94%, 57%);
  }
   
  li:hover a {
    color: hsl(0, 0%, 8%);
  }
