*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh; 
    background-color:#141414;
}

main{
    border: solid;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 200px;
    height: 290px;
    background-color: #1F1F1F;
    border-radius: 10px;
}


.principal{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;

}


.img-principal{
    width:40px;
    border-radius: 100%;
 }
 

.secundaria{
    text-align: center;
}

.text-1{
    color: #fff;
    padding-bottom: 4px;
}

.text-2{
    color: #C4F82A;
    padding-bottom: 15px;
}

.text-3{
    color: #fff;
    padding-bottom: 10px;
}


p{
    font-size:x-small;
}

.tercero{
    display: flex;
    justify-content: center;
}

.ul-vertical {
	list-style: none;
	background-color: #1E1F23;
}
.ul-vertical li {
	background-color: #333333;
	width: 170px;
	height: 20px;
	border: 1px solid #333333;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.ul-vertical li+li {
	margin-top: 8px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size:x-small;
}

  li:hover {
    background:  #C4F82A;
  }
   
  li:hover a {
    color: black;
  }
